
body {
    font-family: "Times New Roman", Times, serif;
}

.text {
    text-align: center;
    width: 100%;
}

.hinh {
    height: 50%;
}

footer {
    background: blue;
    text-align: center;
    color: yellow;
    height: 70px;
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    background: blue;
    text-align: center;
    color: yellow;
}

.but {
    padding: 10px 30px;
    background: #f3aef3;
    color: brown;
    text-decoration: none;
    font-size: 20px;
}

    .but:hover {
        padding: 10px 30px;
        background: #f3aef3;
        color: brown;
        text-decoration: none;
    }

footer p {
    margin-bottom: 0;
}

.table th {
    text-transform: uppercase;
}

.table td {
    text-transform: capitalize;
}

.table, .table th, .table td {
    border: 1px solid black !important;
    border-collapse: collapse;
    text-align: center;
}

.table1 {
    width: 100%;
    text-align: center;
}

marquee {
    font-size: 50px;
    height: 50%;
    color: red;
}

header {
    bottom: 0;
}
