
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xin chào các bạn đến với trang chủ chi cục thuế Quận 12</h2>
<table>
    <tr>
        <th><img src="~/image/HoaDonDienTu.jpg" alt=""></th>
       
    </tr>
</table>
<br />
<marquee><b> Nộp thuế là nghĩa vụ và quyền lợi của mọi công dân.</b></marquee>

